<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pipes Rules !!!</title>
</head>

<body>
  <div class="container-fluid mt-4">
    <h1>Pipes</h1>
    <hr>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Pipe</th>
          <th scope="col">Producto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ title }}</td>
          <td>uppercase</td>
          <td>{{ title | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ title }}</td>
          <td>lowercase</td>
          <td>{{ title | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ title }}</td>
          <td>slice:3</td>
          <td>{{ title | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ title }}</td>
          <td>slice:3:5</td>
          <td>{{ title | slice:3:5 }}</td>
        </tr>
        <tr>
          <td>{{ title }}</td>
          <td>slice:0:5</td>
          <td>{{ title | slice:0:5 }}</td>
        </tr>
        <tr>
          <td>{{ pi }}</td>
          <td>number:'3.2-4'</td>
          <td>{{ pi | number:'3.2-4' }}</td>
        </tr>
        <tr>
          <td>{{ shortDecimal }}</td>
          <td>number:'3.4'</td>
          <td>{{ shortDecimal | number:'3.4' }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td>percent</td>
          <td>{{ percentage | percent }}</td>
        </tr>
        <tr>
          <td>{{ percentage }}</td>
          <td>percent:'3.2-4'</td>
          <td>{{ percentage | percent:'3.2-4' }}</td>
        </tr>
        <tr>
          <td>{{ percentageMin }}</td>
          <td>percent:'3.2-4'</td>
          <td>{{ percentageMin | percent:'3.2-4' }}</td>
        </tr>
        <tr>
          <td>{{ shortDecimal }}</td>
          <td>currency</td>
          <td>{{ shortDecimal | currency }}</td>
        </tr>
        <tr>
          <td>{{ greeting }}</td>
          <td>async</td>
          <td>{{ greeting | async }}</td>
        </tr>
        <tr>
          <td>{{ date }}</td>
          <td>date</td>
          <td>{{ date | date }}</td>
        </tr>
        <tr>
          <td>{{ date }}</td>
          <td>date:'dd/MM/yyyy'</td>
          <td>{{ date | date:'dd/MM/yyyy' }}</td>
        </tr>
        <tr>
          <td>{{ date }}</td>
          <td>date:'short'</td>
          <td>{{ date | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{ title }}</td>
          <td>capitalizado</td>
          <td>{{ title | capitalizado }}</td>
        </tr>
      </tbody>
    </table>
    <pre>Sin transformar: {{ objeto }}</pre>
    <pre>Transformado: {{ objeto | json }}</pre>
  </div>
</body>

</html>
